<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.project.sky31radio">

    <uses-sdk tools:overrideLibrary="com.moshx.indicators" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- Required -->
    <permission
        android:name="com.project.sky31radio.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:replace="android:icon, android:theme">
        <meta-data android:name="android.max_aspect" android:value="ratio_float" />
        <meta-data
            android:name="notch.config"
            android:value="none"/>
        <!-- <meta-data android:name="Channel ID" android:value="${LEANCLOUD_CHANNEL_ID}"/> -->

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".service.RadioPlaybackService"
            android:enabled="true"
            android:process=":player" />

        <activity
            android:name=".ui.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".ui.HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.project.sky31radio.ui.HomeActivity" />
        </activity>
        <activity
            android:name=".ui.SearchActivity"
            android:label="@string/title_activity_search"
            android:parentActivityName=".ui.HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.project.sky31radio.ui.HomeActivity" />
        </activity>
        <activity android:name=".ui.HomeActivity"></activity>
        <activity android:name=".MyViewActivity"></activity>
        <provider
            android:name=".MyProvider"
            android:authorities="com.project.sky31radio.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_download"/>
        </provider>
    </application>

</manifest>